# Developement
black ~= 23.9.1  # Style Consistency
pytest ~= 8.0.0 # Testing
pytest-mock ~= 3.12.0

# Core
flask ~= 3.0.0  # API Runner
SQLAlchemy ~= 2.0.25  # Database Runner
platformdirs ~= 4.1.0  # Platform Specific Directories
pydantic ~= 2.5.3  # Configuration File Verification

# Hooks
boto3 ~= 1.28.63  # Amazon S3 Buckets
